# Ignore files not needed in the Docker build for all subdirectories
.git
.gitignore
.env
*.log
__pycache__
*.pyc
# Ignore temporary files
*.tmp
*.bak
README.md
ex.nginx-conf
models.json
inference_results.json
# Ignore IDE/project-specific files
.idea/
.vscode/
# Ignore parent directory files when building from subdirs
../*.md
../*.sh

!start.sh
!execute.sh
!models.json
!extract_log.py
!monitor_server.py
!index.html